@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto Regular", sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #c0192a;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration-line: none;
    color: black ;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 550;
}


li { 
    margin: 10px;
    color: black;
    
}

.re4 {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 30%;
}

.Redecouvrez {
    text-transform: capitalize;
    color: white;
    font-size: 2rem;    
}

.survivez {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actu {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box1 {
    background-image: url("../img/new-monsters.jpg");
    height:30vh;
    width: 25vh;
    background-size: cover;
}

.box2 {
    background-image: url("../img/new-graphism.jpg");
    height: 30vh;
    height:30vh;
    width: 25vh;
    background-size: cover;
}


.box3 {
    background-image: url("../img/new-gameplay.jpeg");
    height: 30vh;
    height:30vh;
    width: 25vh;
    background-size: cover;
}

h2 {
    text-align: center;
}

.article {
    background-color: #282725;
    display: flex;
}

